---
title: Gallery
---

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <link rel="stylesheet" href="{{ "/css/main.css" | relative_url }}">

  <link rel="icon" type="image/png" href="{{ "/assets/favicon.png" | relative_url }}">
</head>

<body>

  <ul class="folder">
    {% for post in site.posts %}
    <li>
      <span>{{ post.date | date: "%b %-d, %Y" }}</span>

      <h2>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </h2>
    </li>
    {% endfor %}
  </ul>

</body>

</html>
