body {
  padding: $spacing-unit * 2;
}

.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
}

ul.gallery img {
  width: 160px;
  height: 160px;
  filter: grayscale(70%);
}

ul.gallery img:hover {
  filter: none;
  transform: scale(1.2);
  transition: all .3s ease-in-out;
}

ul.gallery li:hover {
  z-index: 100;
}
