<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <link rel="stylesheet" href="{{ "/css/main.css" | relative_url }}">
  <link rel="stylesheet" href="https://unpkg.com/magnific-popup@1.1.0/dist/magnific-popup.css">

  <link rel="shortcut icon" type="image/png" href="{{ "/assets/favicon.png" | relative_url }}">

  <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
  <script src="https://unpkg.com/magnific-popup@1.1.0/dist/jquery.magnific-popup.min.js"></script>
</head>

<body>

  <ul class="gallery">
    {% for image in page.images %}
    <li>
      <a href="{{ "/assets/gallery/" | relative_url }}{{ image.path }}">
        <img src="{{ "/assets/gallery/" | relative_url }}{{ image.path }}" alt="{{ image.title }}" />
      </a>
    </li>
    {% endfor %}
  </ul>

  <a href="{{ "/" | relative_url }}">&lt; Back</a>

  <script>
    $(document).ready(function () {
      $('ul.gallery').magnificPopup({
        delegate: 'a',
        type: 'image',
        gallery: {
          enabled: true,
          navigateByImgClick: true,
          preload: [0, 1]
        }
      });
    });
  </script>

</body>

</html>
