<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <link rel="stylesheet" href="{{ "/css/main.css" | relative_url }}">
  <link rel="stylesheet" href="https://unpkg.com/imagelightbox@1.0.2/dist/imagelightbox.min.css">

  <link rel="shortcut icon" type="image/png" href="{{ "/assets/favicon.png" | relative_url }}">

</head>

<body>

  <ul class="gallery">
    {% capture folder %}{{ page.relative_path | remove: '_posts/' | remove: '.md' }}{% endcapture %}
    {% capture gallery_path %}assets/gallery/{{ folder }}{% endcapture %}
    {% for image in site.static_files %}
    {% if image.path contains gallery_path %}
    {{ image.dimensions.width }}
    <li>
      <a href="{{ image.path | relative_url }}">
        <img src="{{ image.path | replace: 'assets/gallery/', 'assets/thumbnails/' | relative_url }}" />
      </a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>

  <a href="{{ "/" | relative_url }}">&lt; Back</a>

  <script src="https://unpkg.com/jquery@3.4.1/dist/jquery.min.js"></script>
  <script src="https://unpkg.com/imagelightbox@1.0.2/dist/imagelightbox.min.js"></script>

  <script>
    $(document).ready(function () {
      $('ul.gallery>li>a').imageLightbox({
        animationSpeed: 50,
        fullscreen: true,
        history: true,
        overlay: true
      });
    });
  </script>

</body>

</html>
